services:
  mysql:
    image: mysql:8
    container_name: mysql8
    environment:
      MYSQL_DATABASE: go_fullstack
      MYSQL_ROOT_PASSWORD: rami123
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: always

volumes:
  db_data: